<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <!--微信配置信息-->
        <add key="CorpID" value=""/>
        <add key="Secret" value=""/>
    </appSettings>
    <connectionStrings>
        <add name="ApplicationServices"
             connectionString="data source=.;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true"
             providerName="System.Data.SqlClient" />
    </connectionStrings>

    <system.web>

        <compilation debug="true" targetFramework="4.0" />

        <membership>
            <providers>
                <clear/>
                <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
                     enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
                     maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
                     applicationName="/" />
            </providers>
        </membership>
        <httpModules>
            <add name="HttpModule" type="AK.QYH.Controller.HTTPModule,AK.QYH.Controller"></add>
        </httpModules>
    </system.web>
    <system.webServer>
        <validation validateIntegratedModeConfiguration="false"/>
        <modules>
            <add name="HttpModule" type="AK.QYH.Controller.HTTPModule,AK.QYH.Controller" />
        </modules>
    </system.webServer>
</configuration>
