body{
	background: #FAFAFA;
}
section{
	margin-bottom:1rem;
}

header{
	z-index: 100;
}


header #zoom{
	width:0.25rem;
	height: 0.25rem;
	position: absolute;
	left:2.61rem;
	top:0.32rem;
	z-index:100;
}

header input{
	width:3.74rem;
	height:0.58rem ;
	position: absolute;
	left:0.8rem;
	top:0.15rem;
	border-radius:0.1rem;
	border:none;
	outline: none;
	padding-left:2.16rem;
	font-size:0.28rem;
	color:##8E8E93;
}

#main{
	margin-top:0.88rem;
	
}

#main ul{
	width:100%;

}
#main ul li{
	width:100%;
	color: #363636;
	height:1.28rem;
	font-size: 0.32rem;
	line-height: 1.28rem;
	border-bottom:1px #E6E6E6 solid;
	position: relative;
	padding-left: 0.24rem;
}

#main ul li img{
	width:0.45rem;
	height: 0.45rem;
	position: absolute;
	right:0.44rem;
	top:0.42rem;
	
}
#main ul li span{
	font-size:0.28rem;
	position: absolute;
	left:6.37rem;
	color: #8F8E94;
}


/*//footer*/
footer{
    background: #FAFAFA;
    position: fixed;
    bottom: 0;
    left:0;
    height: 1 rem;
    width: 100%;
    box-sizing: border-box;
    border-top: 1px solid #c7c7c7;
    display: flex;
}

footer a{
    padding-top: 0.66rem;
    font-size: 0.2rem;
    color: #868A8D;
    text-align: center;
    padding-bottom: 0.1rem;
/*    //解决移动端点击链接触发颜色块的问题*/
    -webkit-tap-highlight-color :rgba(0, 0, 0, 0);
}


footer .bot1{
     flex: 1;
     background:url(../img/home.png) no-repeat center 0.14rem;
     background-size:  0.5rem 0.5rem;
     
    
}
footer .bot2{
    flex: 1;
    background: url(../img/device.png) no-repeat center 0.14rem;
    background-size:  0.5rem 0.5rem;
}
footer .bot3{
    flex: 1;
    background: url(../img/addressb.png) no-repeat center 0.14rem;
    background-size:  0.5rem 0.5rem;
    color: #0082D9;
}
footer .bot4{
    flex: 1;
    background: url(../img/me.png) no-repeat center 0.14rem;
    background-size:  0.5rem 0.5rem;
}