	html,body{
		background: #FAFAFA;
	}
	b,i{
		font-weight: normal;
		font-style:normal;
	}
	
	header{
		z-index:100;
	}
	header img,header input{
		position: absolute;
	}
	
	header .left{
		width:0.26rem;
		height: 0.45rem;
		top:0.2rem;
		left:0.24rem;
	}
	
	header input{
		width:3.74rem;
		height: 0.58rem;
		border:none;
		outline:none;
		font-size:0.28rem;
		padding-left:2.16rem;
		border-radius:0.1rem;
		top:0.15rem;
		left:0.8rem;
		background: #FFFFFF;
	}
	
	header .zoom{
		width:0.25rem;
		height: 0.25rem;
		top:0.32rem;
		left:2.61rem;
	}
	

/*			导航*/
.nav{
		position: relative;
		width: auto;
		height: 1.27rem;
		margin-top:0.88rem;
		font-size:0.32rem;
		border-bottom:1px solid #E6E6E6;
		line-height: 1.27rem;
	
	}
	
	.nav .nav-f{
		
		color: #00A7EF;
		margin-left: 0.22rem;
		
	}
	
	.nav .nav-s{
		
		color: #00A7EF;
		margin-left: 0.3rem;
	}

	
.nav .img-f,.nav .img-s{
		
		width:0.16rem;
		height: 0.26rem;
		margin-left:0.3rem;
	}
	.nav .nav-t{
	
		color: #99989E;
		margin-left:0.3rem;
	}
	

ul li{
	margin-left:0.22rem;
	width:100%;
	height: 1.26rem;
	border-bottom:1px solid #E6E6E6;
	font-size: 0.32rem;
	position: relative;
}

ul li span{
	position: absolute;
	top:0.21rem;
	color: #363636;
}
ul li i{
	position: absolute;
	font-size:0.24rem;
	top:0.74rem;
	color: #979797;
}

ul li img{
	position: absolute;
	width:0.7rem;
	height: 0.7rem;
	top:0.28rem;
}
ul li .address-people{
	right:1.62rem;
	
}
ul li .address-phone{
	right:0.5rem;
}

