	header{
		z-index: 100;
	}
	
	html,body{
		background: #FAFAFA;
	}
	
	input{
		background: none;
		text-align: right;
		width:4.8rem;
		height: 0.42rem;
		border-radius: 0;
		
	}
	
	s{
		position: absolute;
		right:0.77rem;
		top:0.28rem;
		color:#363636;<s>JLG</s>
	}
	a{
		color:#363636;
	}
	#more s{
		top:0;
	}
	/*-----------section------------*/
	section{
		margin-top:0.88rem;
	}
	
	section .buy{
		height: 1.03rem;
		line-height: 1.03rem;
		background: #F2F2F2;
		font-size: 0.32rem;
		color: #666666;
		padding-left:0.5rem;
		position: relative;
	}
	
	section .buy span{
		position: absolute;
		width:0.06rem;
		height: 0.4rem;
		left:0.24rem;
		top:0.32rem;
		background:#0082D9;
	}
	
	section #buyId{
		width:100%;
		font-size:0;
		height: auto;
	}
	
	section #buyId li{
		height: 0.98rem;
		width:auto;
		font-size:0.32rem;
		color: #999999;
		position: relative;
		border-bottom: 1px solid #E6E6E6;
		margin-left:0.24rem;
	}
	
	section #buyId li span{
		position: absolute;
		font-size:0.32rem;
		top:0.28rem;
	}
	
	section #buyId li .next{
		width:0.45rem;
		height: 0.45rem;
		position: absolute;
		top:0.26rem;
		right:0.12rem;
	}
	
	
	section #buyId li input{
		position: absolute;
		font-size:0.32rem;
		top:0.28rem;
		height: 0.42rem;
		width:4.8rem;
		right:0.24rem;
		padding:0;
	}

	
	section #buyId li:nth-of-type(3) input{
		width:2rem;
		font-size:0.32rem;
		right:0.42rem;
		text-align: right;
		
	}
	
	section #buyId li:nth-of-type(3) img{
		position: absolute;
		top:0.28rem;
		right:0.24rem;
		width:0.45rem;
		height: 0.48rem;
	}
	
	section #buyId li #address{
		display: block;
		
	}
	
	section #buyId li i{
		display: block;
		position: absolute;
		right:0.24rem;
		top:0.28rem;
		color:#363636;
	}
	
	section #buyId li .danxuan{
		display:none;
		width:0.7rem;
		height: 0.7rem;
		position:absolute;
		/*left:3.1rem;*/
		top:0.15rem;
		/*left:5.22rem;*/
		
	}
	
	section #buyId li .jhn,section #buyId li .jhw{
		position: absolute;
		top:0.28rem;
	}
	
	section #buyId li .jhn{
		right: 2.47rem;
	}
	section #buyId li .jhw{
		right:0.24rem;
	}
	
	section #buyId li .jhns{
		position: absolute;
		width:0.44rem;
		height: 0.44rem;
		right:3.57rem;
	}
	
	section #buyId li .jhws{
		width:0.44rem;
		height: 0.44rem;
		position: absolute;
		right: 1.44rem;
	}
	

/*----------相册-------------*/
          
/*---------备注---------*/
  		
    section .rember{
    	border-top:0.1rem solid  #F2F2F2;
    	font-size:0.3rem;
    }
    
    section .rember span{
    	font-size:0.32rem;
    	color: #999999;
    	display: block;
    	margin-top:0.22rem;
    	margin-left:0.24rem;
    }
    
    section .rember textarea{
    	padding-top:0.2rem;
    	width:7.26rem;
    	padding-left:0.24rem;
    	height: 1.8rem;
    	resize : none;
    	font-size:0.32rem;
    }
    
   /* -----设备明细-----------*/
  
  	section #more{
  		font-size:0.32rem;
  		width:100%;
  		height: auto;
  		
  	}
  	section #more .div-more{
  		margin-bottom:0.2rem;
  	}
  	section #more .div-more li{
  		height: 0.98rem;
  		line-height: 0.98rem;
		width:auto;
		font-size:0.32rem;
		color: #999999;
		position: relative;
		border-bottom: 1px solid #E6E6E6;
		margin-left:0.24rem;
  	}
  	
  
	section #more .div-more .li-first{
		height: 0.71rem;
		line-height: 0.71rem;
		display: block;
		font-size: 0.24rem;
	}
	
	section #more .div-more .li-first b{
		display: block;
		float: right;
		margin-right: 0.24rem;
		color: #0082D9;
	}
	
	
	
	section #more .div-more li .next{
		width:0.45rem;
		height: 0.45rem;
		position: absolute;
		top:0.26rem;
		right:0.12rem;
	}
	
	section #more .div-more li input{
		width:4.8rem;
		font-size:0.32rem;
		height: 0.42rem;
		right:0.24rem;
		position: absolute;
		top:0.28rem;
		outline: none;
		border:none;
		background: none;
		padding:0;
	}
	
	section #more .div-more .li-last b{
		position: absolute;
		font-size:0.32rem;
		right:0.24rem;
	}
	
	
	section #more em{
		position: absolute;
		right:0.24rem;
		color:#363636;
	}
	
	section #more .numk{
		color:#363636;
	}
	
	
	/*---------审批日志---------------*/
	.sprz-1{
		padding:0.2rem 0;
	}
	
	.sprz-1 small{
		display: block;
		margin-left:0.24rem;
		font-size: 0.26rem;
		line-height: 0.4rem;
		color:#999999;
	}
	
	.spjg textarea{
		padding-top:0.2rem;
		padding-left:0.24rem;
		width:7.26rem;
		height: 1.8rem;
	}
	
	/*----------底部----------*/
	footer{
		width:100%;
		height: 2.75rem;
	}
	footer div{
		text-align: center;
		font-size:0.32rem;
		color: #0082D9;
	}
	footer button{
		width:5.6rem;
		height: 0.9rem;
		font-size: 0.36rem;
		color: #FFFFFF;
		background: #0082D9;
		border-radius: 5px;
		display:block;
		border: none;
		margin:0.5rem auto 0.9rem;
		
	}
	
	footer .fqwl{
		width:3rem;
		height: 0.9rem;
		border-radius: 0.08rem;
		color:#FFFFFF;
		background: #0082D9;
		display: inline-block;
		margin:0.5rem 0 0.5rem 0.5rem;
	}
	
	footer .lrsb{
		width:3rem;
		height: 0.9rem;
		border-radius: 0.08rem;
		color:#FFFFFF;
		background: #FD8822;
		display: inline-block;
		margin:0.5rem 0 0.5rem 0.5rem
	}



























