
html,body{
	background: #FAFAFA;
}


/*-------头部导航-----------*/
header{
	padding:0;
	z-index:100;

}
header .left{
	position: absolute;
	left:0.24rem;
	top:0.2rem;	
	width:0.26rem;
	height: 0.45rem;
}

header div{
	position: absolute;
	font-size:0.34rem;
	color: #FFF;
	top:0.22rem;
	left:3.03rem;
}




header .add{
	position: absolute;
	right:0.24rem;
	top:0.26rem;
	width:0.34rem;
	height: 0.34rem;
}

/*--------中间模块-------------*/
/*----------tab切换------------*/

/*--------tab切换四部分页面-----------*/

.box .bottom .show .bot2 b{
	font-size:0.28rem;
	
	/*color: #FD8822;*/
	 color: #0082D9;  
	position: absolute;
	top:0.29rem;
	right:0.24rem;
}

.box .bottom .show span{
	font-size:0.26rem;
	display:block;
	line-height: 0.4rem;
	color: #999999;
	margin-left:0.24rem;
}







