html,body{
	background:#FAFAFA;
}

input{
	text-align: right;
	background: none;
}
header{
	padding:0;
	z-index:100;

}
header .left{
	position: absolute;
	left:0.24rem;
	top:0.2rem;	
	width:0.26rem;
	height: 0.45rem;
}

header div{
	font-size:0.34rem;
	color: #FFFFFF;
	letter-spacing:0.02rem;
	position: absolute;
	left:3.03rem;
	top:0.2rem;
}

ul{
	margin-top:0.88rem;
	font-size:0.32rem;
}
 ul li{
	height: 0.98rem;
	margin-left:0.24rem;
	border-bottom: 0.01rem solid #E6E6E6;
	position: relative;
}

ul li i{
	position: absolute;
	font-size:0.32rem;
	color: #363636;
	top:0.28rem;
	right:0.24rem;
}

 ul li span{
	position: absolute;
	font-size:0.32rem;
	color: #999999;
	top:0.28rem;
	
}

 ul li:last-child{

	border-bottom: none;	
}

ul li:first-child input{
	width:0.44rem;
	height: 0.44rem;
	
}

ul li{
	position: relative;
}

ul .no1 .go{
	position: absolute;
	display: block;
	left:3.65rem;
	top:0.27rem;
	
	
}

ul .no1 .not{
	position: absolute;
	display: block;
	right:1.33rem;
	top:0.27rem;
	
	
}
ul .no1 b{
	font-size:0.32rem;
	color: #999999;
}

ul .no1 .go1{
	color: #363636;
}

ul .no1 .go1{
	position: absolute;
	top:0.28rem;
	left:4.22rem;
}
ul .no1 .not1{
	position: absolute;
	top:0.28rem;
	right:0.24rem;
}

ul .no1 img{
	width:0.7rem;
	height: 0.7rem;
	position: absolute;
	left:3.51rem;
	top:0.14rem;
}

ul li .time{
	width:4.5rem;
	height:0.42rem;
	font-size:0.32rem;
	outline: none;
	border:none;
	line-height: 0.42rem;
	background: #FAFAFA;
}

ul .no4 input{
	width:2.56rem;
	height: 0.42rem;
	font-size:0.32rem;
	outline: none;
	border:none;
	line-height: 0.42rem;
	background: #FAFAFA;
}

textarea{
	resize: none;
	width:7.25rem;
	height: 1.8rem;
	outline:none;
	border:none;
	padding-left:0.24rem;
	padding-top:0.2rem;
	color: #999999;
}

button{
	border:none;
	outline:none;
	width:5.6rem;
	height: 0.9rem;
	background:#0082D9;
	font-size: 0.36rem;
	color: #FFFFFF;
	border-radius: 0.05rem;
	margin-top:0.5rem;
	margin-left:0.95rem;
	margin-bottom: 2rem;
}
