
header{
	z-index: 100;
}
header input{
	width:5.61rem;
	padding-left:0.67rem;
	
}

 header .zoom{
 	left:1.1rem;
 }


html,body{
	background: #FAFAFA;
}


/*--------中间模块-------------*/
/*--------tab切换四部分页面-----------*/

.box .bottom .show .bot2 b{
	position: absolute;
	right:0.24rem;
	top:0.3rem;
	color: #FF715D;
}


