html,body{
	background:#FAFAFA;
}

input{
	background: none;
}
header{
	padding:0;
	z-index:100;

}
header .left{
	position: absolute;
	left:0.24rem;
	top:0.2rem;	
	width:0.26rem;
	height: 0.45rem;
}

header div{
	font-size:0.34rem;
	color: #FFFFFF;
	letter-spacing:0.02rem;
	position: absolute;
	left:2.67rem;
	top:0.2rem;
}



.box{
	width:100%;
	height: auto;
	display: flex;
	margin-top:0.88rem;	
}
.box .top{
	display: flex;
	width:100%;
	height:0.99rem;
	line-height: 0.99rem;
	border-bottom:2px solid #E6E6E6;
	position: fixed;
	top:0.88rem;
	left:0;
	background: #FAFAFA;
	z-index: 100;
	

	
}
.box .top div{
	color: #999999;
	flex:1;
	font-size:0.3rem;
	height:0.99rem;
	line-height: 0.99rem;
	text-align: center;
	
}

.box .top .blue {
    border-bottom:0.04rem solid #0082D9;
    font-family: HiraginoSansGB-W6;
    color: #0082D9;   
}


/*--------tab切换四部分页面-----------*/
.box i,b{
	font-weight: normal;
	font-style: normal;
}
.box .bottom{
	margin-top:0.99rem;
	width:7.5rem;
	height: auto;
}

.box .bottom .show{
	width:7.5rem;
	height:auto;
	
}

.box .bottom div{
	display: none;
}
.box .bottom .show{
	display: block;
	font-size:0.32rem;
	width:100%;
	height: 100%;
	
}

.box .bottom .message{
	font-size:0.32rem;
	height: 1.03rem;
	width:7.5rem;
	background: #F2F2F2;
	position: relative;
	
}

.box .bottom .message span{
	width:0.06rem;
	height: 0.4rem;
	background: #0082D9;
	position: absolute;
	top:0.32rem;
	left:0.24rem;
}
.box .bottom .message i{
	font-size:0.32rem;
	color: #666666;
	position: absolute;
	top:0.3rem;
	left:0.5rem;
}

.box .bottom .show ul li{
	height: 0.98rem;
	margin-left:0.24rem;
	border-bottom: 0.01rem solid #E6E6E6;
	position: relative;
}

.box .bottom .show ul li span{
	position: absolute;
	font-size:0.32rem;
	color: #999999;
	top:0.28rem;
	
}

.box .bottom .show ul li:last-child{

	border-bottom: none;	
}

.box .bottom .show ul li i{
	position: absolute;
	font-size:0.32rem;
	color: #363636;
	top:0.28rem;
	right:0.24rem;
}

.box .bottom textarea{
	border:none;
	outline: none;
	font-size:0.32rem;
	color: #999999;
	resize: none;
	width:7.26rem;
	height: 1.8rem;
	padding-left:0.24rem;
	padding-top:0.2rem;
}

.box .bottom .show ol li{
	border-bottom: 0.1rem solid #F2F2F2;
	background: #FAFAFA;
	
	
}

.box li{
	position: relative;
}

.box li button{
	position: absolute;
	width:1.58rem;
	height: 0.58rem;
	background: #0082D9;
	border-radius:0.04rem;
	border:none;
	outline: none;
	top:0.19rem;
	right:0.24rem;
	color: #FFFFFF;
	font-size:0.28rem;
}

.box .bottom .start{
	width:5.6rem;
	height: 0.9rem;
	margin:0.5rem 0 0.5rem 0.95rem;
	color:#FFFFFF;
	border-radius: 0.08rem;
	font-size:0.36rem;
	background: #0082D9;
}


.box .bottom .show ol li .top-message{
	height: 0.97rem;
	position: relative;
	border-bottom:0.02rem solid #E6E6E6; 
}

.box .bottom .show ol li .top-message span{
	position: absolute;
	top:0.29rem;
	left:0.24rem;
	font-size:0.3rem;
	color: #363636;
}

.box .bottom .show ol li .bottom-message{
	padding:0.2rem 0 0.2rem 0.24rem;
}
.box .bottom .show ol li .bottom-message span{
	display: block;
	font-size: 0.26rem;
	color: #999999;
	line-height:0.4rem;
	
}

.box .bottom .car,.box .bottom .refer{
	width:3rem;
	height: 0.9rem;
	color:#FFFFFF;
	margin:0.5rem 0;
	border-radius: 0.08rem;
	margin-left:0.5rem;
	font-size:0.32rem;
}



