html,body{
	background:#FAFAFA;
	font-size:0.32rem;
}

input{
	background: none;
	font-size: 0.32rem;
	text-align: right;
	width:5rem;
}

header{
	padding:0;
	z-index:100;

}
header .left{
	position: absolute;
	left:0.24rem;
	top:0.2rem;	
	width:0.26rem;
	height: 0.45rem;
}


/*--------中间模块-------------*/
/*----------tab切换------------*/
.box{
	width:100%;
	height: auto;
	display: flex;
	margin-top:0.88rem;	
}

.box button{
	font-size: 0.28rem;
}

.box .top{
	display: flex;
	width:100%;
	height:0.99rem;
	line-height: 0.99rem;
	border-bottom:2px solid #E6E6E6;
	/*border-bottom:0.02rem solid #E6E6E6;*/
	position: fixed;
	top:0.88rem;
	left:0;
	background: #FAFAFA;
	z-index: 100;	
}
.box .top div{
	
	flex:1;
	font-size:0.3rem;
	height:0.99rem;
	line-height: 0.99rem;
	text-align: center;
	color: #999999;

}
.box .top div span{
	width:0.16rem;
	height: 0.16rem;
	background: #FE3F3B;
	position: absolute;
	border-radius: 0.16rem;
	top:0.3rem;
}

.box .top div #sel{
	vertical-align: middle;
	width:0.5rem;
	height: 0.5rem;
}

.box .top .last{
	border-left:1px solid  #E6E6E6;
}

.box .top .blue {
    border-bottom:0.04rem solid #0082D9;
    font-family: HiraginoSansGB-W6;
    color: #0082D9;   
}
/*--------tab切换四部分页面-----------*/

.box .bottom{
	margin-top:0.99rem;
	width:7.5rem;
	height: auto;
}

.box .bottom .show{
	width:7.5rem;
	height:auto;
}

.box .bottom div{
	display: none;
}
.box .bottom .show{
	display: block;
}

.box .bottom .bot1{
   width:7.5rem;
	height:auto;
	border-bottom:0.1rem solid #F2F2F2;
}


.box .bottom .show .bot2{
	height:0.96rem;
	width: 7.5rem;
	background: #FAFAFA;
	position:relative;
	border-bottom: 1px solid #E6E6E6;
	font-size:0.3rem;	
}

.box .bottom .show .bot2 i{
	
	font-size:0.3rem;
	display:block;
	color: #363636;
	line-height: 0.96rem;
	margin-left:0.24rem;
	
}

.box .bottom .show .bot2 b{
	font-size:0.28rem;
	color: #FD9336; 
	position: absolute;
	top:0.29rem;
	left:4.34rem;
}

.box .bottom .show .bot2 button{
	font-size:0.28rem;
	color:#FFFFFF;
	background: #FD9336;
	border-radius:0.04rem;
	position: absolute;
	top:0.19rem;
	right:0.24rem;
	width:1.58rem;
	height: 0.58rem;
}

.box .bottom .show .bot3{
	width:7.5rem;
	height:auto;
	font-size:0.26rem;
	background: #FAFAFA;
}


.box .bottom .show small{
	font-size:0.26rem;
	display:block;
	line-height: 0.4rem;
	color: #999999;
	margin-left:0.24rem;
}

/*-----------详情-----------------*/
#only .writeul input{
	background: none;
	font-size:0.32rem;
	height: 0.42rem;
	line-height:0.42rem;
	position: absolute;
	right:0.24rem;
	top:0.3rem;
	width:5rem;
	text-align: right;
}

 #only .writeul i{
 	color:black;
 	position: absolute;
 	right:0.24rem;
 }
 
 #only .writeul .lastli{
 	border-bottom: none;
 }

#only textarea{
	padding-left:0.24rem;
	padding-top:0.2rem;
	height: 1.8rem;
	width:7.26rem;
}



/*-----下方明细----------------*/

.message ul{
	border-bottom: 0.1rem solid #F2F2F2;
}

.message ul:last-child{
	border-bottom :none;
}
.message ul:last-child li:last-child{
	border-bottom:1px solid #E6E6E6;
}
.message ul li{
	position: relative;
	border-bottom:1px solid #E6E6E6;
	height: 0.98rem;
	line-height: 0.98rem;
	margin-left:0.24rem;
	color: #999999;
}

.message ul li:first-child{
	font-size: 0.24rem;
	color: #C7C7CC;
	height: 0.72rem;
	line-height: 0.72rem;	
}

.message ul li:nth-child(2) b,.message ul li:nth-child(3) b{
	position: absolute;
	right:0.24rem;
	color:black;
	
}

.message ul li:last-child{
	border-bottom: none;
}

.message ul li:last-child input{
	width:0.8rem;
	height: 0.4rem;
	line-height: 0.4rem;
	font-size:0.32rem;
	position: absolute;
	top:0.28rem;
	right: 0.74rem;
	text-align: center;
	
}
.message ul li:last-child img{
	width:0.4rem;
	height: 0.4rem;
	position: absolute;
}

.message ul li:last-child .img2{
	top:0.28rem;
	right: 0.24rem;
}
.message ul li:last-child .img1{
	right:1.64rem;
	top:0.28rem;
}

#onlyOne .next{
	width:0.45rem;
	height: 0.45rem;
	position: absolute;
	right: 0.24rem;
	top:0.28rem;
}

#onlyOne .new input{
	
	height: 0.42rem;
	position: absolute;
	right:0.24rem;
	top:0.28rem;
	font-size:0.32rem;
}

#onlyOne .thingtime1{
	width:0.45rem;
	height: 0.45rem;
	position: absolute;
	right:0.24rem;
	top:0.26rem;
}

#onlyOne .new .thingtime{
	width:1.28rem;
	right:0.89rem;
}

#onlyOne textarea{
	padding-top:0.2rem;
	padding-left:0.24rem;
	width:7.26rem;
	height: 1.8rem;
	
}

#onlyOne button{
	margin: 0.5rem 0 0.5rem 0.95rem;
	background:#0082D9;
	width:5.6rem;
	height: 0.9rem;
	color: #FFFFFF;
	border-radius: 0.08rem;
	font-size:0.36rem;
}

.wls s{
	position: absolute;
	right:0.6rem;
}




















