html,body{
	background: #FAFAFA;
}
/*-------头部导航-----------*/
header{
	z-index:100;
}

header input{
	position: absolute;
	width:5.25rem;
	font-size:0.28rem;
	padding-left:0.67rem;
}

header .zoom{
	left:1.1rem;
	z-index:100;
}



/*----------tab切换------------*/

/*--------tab切换四部分页面-----------*/


.box .bottom .show .bot2 b{
	font-size:0.28rem;
	 color: #FD9336; 
	position: absolute;
	top:0.29rem;
	left:4.34rem;
}

.box .bottom .show .bot2 button{
	background: #FD9336;
	position: absolute;
	border-radius: 0.04rem;
	color:#FFFFFF;
	width:1.72rem;
	height: 0.58rem;
	top:0.19rem;
	right: 0.24rem;
	font-size:0.28rem;
}











